---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">ホーム</a>
<a href="/about/">概要</a>

<h1>私について</h1>
<h2>... そして私の新しいAstroサイｄｚｆｂｒぜｂｔｆｄｚトについて！</h2>
<h1>私のAstro学習ブログ</h1>
<p>ここには、私がAstroを学んでいく旅の様子を投稿します。yey</p>
	</body>
</html>
