---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "私のAstro学習ブログ";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<Header />

<h1>私について</h1>
<h2>... そして私の新しいAstroサイｄｚｆｂｒぜｂｔｆｄｚトについて！</h2>
<h1>{pageTitle}</h1>
<p>ここには、私がAstroを学んでいく旅の様子を投稿します。yey</p>
<ul>
	{allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul>
  <Footer />
  <script>
	import "../scripts/menu.js";
</script>
	</body>
</html>
