---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import HeroSection from '@components/blocks/HeroSection.astro'
import BlogInsight from '@components/blog/BlogInsight.astro'
import HeroSectionAlt from '@components/blocks/HeroSectionAlt.astro'
import FeaturesSection from '@components/blocks/FeaturesSection.astro'
import ponyo from '@images/ponyo-2.png'

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts')).sort(
    (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 3);
---

<BaseLayout title="Home">
    <HeroSection
        title=`Hello, <span class="text-yellow-500 dark:text-yellow-400">Godruoyi</span>`
        subTitle="没有尝试又怎么会，人生下来就会绕没有尝试又怎么会，人生下来就会绕没有尝试又怎么会，人生下来就会绕没有尝试又怎么会，人生下来就会绕"
        primaryBtn="Explore Posts"
        primaryBtnURL="/posts"
        secondaryBtn="secondaryBtn"
        secondaryBtnURL="/x"
        src={ponyo}
        alt="heroImage"
    />

    <FeaturesSection />

    <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
        <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
            <h2 class="text-3xl font-bold text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight">
                Latest Articles
            </h2>
            <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
                Quam hic dolore cumque voluptate rerum beatae et quae, tempore sunt, debitis dolorum officia aliquid explicabo? Excepturi, voluptate?
            </p>
        </div>
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {
                posts.map(b => (
                    <BlogInsight blog={b} />
                ))
            }
        </div>
    </section>


    <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"><div class="max-w-screen-md"><h2 class="mb-4 text-balance text-3xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200">By the Numbers</h2><p class="mb-16 max-w-prose text-pretty font-light text-neutral-600 dark:text-neutral-400 sm:text-xl">Our commitment to quality and reliability is evident in every project we undertake. At ScrewFast, we are dedicated to delivering industry-leading services that ensure your construction projects are built to last.</p></div><div class="grid items-center gap-6 lg:grid-cols-12 lg:gap-12"><div class="lg:col-span-4"><div class="lg:pe-6 xl:pe-12"><p class="text-6xl font-bold leading-10 text-orange-400 dark:text-orange-300">96%</p><p class="mt-2 text-neutral-600 dark:text-neutral-400 sm:mt-3">of our clients rate their experience with ScrewFast as exceptional</p></div></div><div class="relative lg:col-span-8 lg:before:absolute lg:before:-start-12 lg:before:top-0 lg:before:h-full lg:before:w-px lg:before:bg-neutral-300 lg:before:dark:bg-neutral-700"><div class="grid grid-cols-2 gap-6 sm:gap-8 md:grid-cols-4 lg:grid-cols-3"><div><p class="text-3xl font-bold text-orange-400 dark:text-orange-300">99.8%</p><p class="mt-1 text-neutral-600 dark:text-neutral-400">project completion rate</p></div><div><p class="text-3xl font-bold text-orange-400 dark:text-orange-300">5,000+</p><p class="mt-1 text-neutral-600 dark:text-neutral-400">successful installations</p></div><div><p class="text-3xl font-bold text-orange-400 dark:text-orange-300">85%</p><p class="mt-1 text-neutral-600 dark:text-neutral-400">client growth year-over-year</p></div></div></div></div></section>

    <HeroSectionAlt
        title="Fellow me on GitHub"
        subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
        url="https://github.com/mearashadowfax/ScrewFast"
    />
</BaseLayout>
