---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import MainSection from '@components/blocks/MainSection.astro'
import BlogTimeline from '@components/blog/BlogTimeline.astro'

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts')).sort(
    (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout>
    <MainSection
        title="Timeline"
        subTitle="目前一共 2 篇文章，加油"
        btnExists={true}
        btnTitle="All Posts"
        btnURL="/posts"
    />

    <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
        {posts.map(p => <BlogTimeline blog={p} />)}
    </section>
</BaseLayout>
