---
import FooterSocialLink from './ui/FooterSocialLink.astro'
import Icon from './icons/icon.astro';
---

<footer class="w-full bg-neutral-300 dark:bg-neutral-900">
    <div class="mx-auto w-full max-w-[85rem] px-4 py-8 sm:px-6 lg:px-10 lg:pt-10 2xl:max-w-screen-2xl">
        <div class="flex justify-center">
            <FooterSocialLink url=""><Icon name="xFooter" /></FooterSocialLink>
            <FooterSocialLink url=""><Icon name="githubFooter" /></FooterSocialLink>
        </div>
        <script>
            const year = new Date().getFullYear();
            const element = document.getElementById("current-year");
            element!.innerText = year.toString();
        </script>
    </div>
</footer>
