---
import type { CollectionEntry } from 'astro:content'

const { blogs } = Astro.props

interface Props {
    blogs: CollectionEntry<'posts'>[]
}

const countView = blogs.map(b => b.data.oldViewCount).reduce((a, b) => a + b, 0)
---

<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
    <div class="max-w-screen-md">
        <h2 class="mb-4 text-balance text-3xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200">
            Blog Numbers
        </h2>
        <p class="mb-16 max-w-prose text-pretty font-light text-neutral-600 dark:text-neutral-400 sm:text-xl">Our
            commitment to quality and reliability is evident in every project we undertake. At ScrewFast, we are
            dedicated to delivering industry-leading services that ensure your construction projects are built to
            last.
        </p>
    </div>
    <div class="grid items-center gap-6 lg:grid-cols-12 lg:gap-12">
        <div class="lg:col-span-4">
            <div class="lg:pe-6 xl:pe-12">
                <p class="text-6xl font-bold leading-10 text-orange-400 dark:text-orange-300">
                    {countView.toLocaleString('en-US')}
                </p>
                <p class="mt-2 text-neutral-600 dark:text-neutral-400 sm:mt-3">
                    累计访问量
                </p>
            </div>
        </div>
        <div class="relative lg:col-span-8 lg:before:absolute lg:before:-start-12 lg:before:top-0 lg:before:h-full lg:before:w-px lg:before:bg-neutral-300 lg:before:dark:bg-neutral-700">
            <div class="grid grid-cols-2 gap-6 sm:gap-8 md:grid-cols-4 lg:grid-cols-3">
                <div>
                    <p class="text-3xl font-bold text-orange-400 dark:text-orange-300">99.8%</p>
                    <p class="mt-1 text-neutral-600 dark:text-neutral-400">文章总数量</p>
                </div>
                <div>
                    <p class="text-3xl font-bold text-orange-400 dark:text-orange-300">5,000+</p>
                    <p class="mt-1 text-neutral-600 dark:text-neutral-400">successful installations</p>
                </div>
                <div>
                    <p class="text-3xl font-bold text-orange-400 dark:text-orange-300">85%</p>
                    <p class="mt-1 text-neutral-600 dark:text-neutral-400">client growth year-over-year</p>
                </div>
            </div>
        </div>
    </div>
</section>
